html {

background-color: lightgray; 
-webkit-background-size: cover;
 -moz-background-size: cover;
-o-background-size: cover;
    background-size: cover;
}

body {
background-color: transparent;
}

h3 {
color: #333;
background-color: transparent;
font-family: 'Bitter';
opacity: 0.4;
}

h1#weather-title {

	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: #00BFFF;
	opacity: 0.4;
	font: 700 80px 'Bitter';
    font-size: 8vw;
}

#climate {
text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: #333;
	opacity: 0.4;
	font: 700 80px 'Bitter';
    font-size: 8vw;

}

body #page-container {
    margin-top: 3%;
    text-align: center;

}


#requirementImage {
padding-top: 5%;
padding-bottom: 5%;
}

#requirementReason{
    padding-bottom: 5%;
}

hr {
  border: 0;
  border-top: 1px solid #8c8c8c;
  border-bottom: 1px solid #fff;
}

.containerCurrent{
text-align: center;
display:inline;
}

#currentIcon{
display:block;
}

#currentDesc{
    display:block;
}


/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader.gif) center no-repeat #fff;
}

#loadingText{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 50%;
    left: 47%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: 30px; 
}

#manualLocation{
    position: absolute;
    width: 500px;
    height: 50px;
    top: 60%;
    left: 40%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: 30px; 
}