html {

background-color: lightgray; 
-webkit-background-size: cover;
 -moz-background-size: cover;
-o-background-size: cover;
    background-size: cover;
}

body {
background-color: transparent;
}

h3 {
color: #333;
background-color: transparent;
font-family: 'Bitter';
opacity: 0.4;
}

h1#weather-title {

	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: #00BFFF;
	opacity: 0.4;
	font: 700 80px 'Bitter';
    font-size: 104px;
}

#climate {
text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: #333;
	opacity: 0.4;
	font: 700 80px 'Bitter';
    font-size: 104px;

}

body #page-container {
    margin-top: 3%;
    text-align: center;
    margin-bottom: 20px;
}


#requirementImage {
padding-top: 5%;
padding-bottom: 5%;
}

#requirementReason{
    padding-bottom: 3%;
}

hr {
  border: 0;
  border-top: 1px solid #8c8c8c;
  border-bottom: 1px solid #fff;
}

span#icon{
    display:block;
}
span#temp{
    display:inline-block;
}